.corpo{
    height: 100vh;
    background: linear-gradient(rgb(255, 176, 72),rgb(255, 212, 147),rgb(255, 176, 72));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 100px;
    height: 350px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    gap: 30px;
    border-radius: 40px;
    position: absolute;
    left: 3%;
    top: 5%;
}

.pausar{
    background: rgb(236, 155, 63);
    color: white;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.configurar{
    background: rgb(236, 155, 63);
    color: white;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sair{
    background: rgb(236, 155, 63);
    color: white;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    width: 700px;
    height: 400px;
    background: rgb(255, 255, 255);
    color: rgb(236, 142, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    position: absolute;
    left: 30%;
}

.alternatives{
    width: 300px;
    height: 800px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    gap: 70px;
    border-radius: 50px;
    position: absolute;
    left: 75%;
}

.first{
    background: rgb(236, 155, 63);
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}

.second{
    background: rgb(236, 155, 63);   
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}

.third{
    background: rgb(236, 155, 63);
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}
