*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 960px;
    border-bottom: 20px solid #37ad00;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#1822a8, #550bff);
}

.waddle-dee{
    position: absolute;
    bottom: 0;
    width: 90px;
    right: -80px;
    animation: waddle-animation 2s infinite linear;
}

.kirby{
    width: 100px;
    position: absolute;
    left: 5%;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.star{
    width: 300px;
    position: absolute;
    top: 28%;
    left: 50%;
}

.star2{
    width: 300px;
    position: absolute;
    top: 28%;
    left: 35%;
}

.logo{
    position: absolute;
    top: 35%;
    left: 40%;
}

.points{
    font-size: 50px;
    background: #86018067;
    color: #e334e9;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    position: absolute;
    top: 2%;
    left: 1.5%;

}


@keyframes waddle-animation{

    from{
        right: 0;
    }

    to{
        right: 100%;
    }
    
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}